body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1 {
  color: #66bfbf;
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
}


h2 {
  color: #66bfbf;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  margin: 100px auto;
  width: 20%;
}

.top-container {
  background-color: #E4F9F5;
  padding-top: 100px;
  position: relative;
}

.cloud-top {
  width: 170px;
  height: 80px;
  position: absolute;
  right: 200px;
  top: 100px;
}

.cloud-bottom {
  width: 170px;
  height: 80px;
  position: absolute;
  left: 200px;
  bottom: 200px;
}

.mountain-img {
  height: 240px;
  padding-bottom: 5px;
  padding-top: 10px;
}

.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 3px;
}

.graphics-img {
  width: 25%;
  height: 25%;
  border-radius: 50%;
  float: left;
  margin-right: 20px;
}

.program-img {
  width: 25%;
  height: 25%;
  border-radius: 50%;
  float: right;
  margin-left: 20px
}

.contact-me {
  margin-top: 10px;
  padding: 20px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}


.middle-container {
  margin: 80px 0;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top: 20px;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2ce4ab);
  background-image: -moz-linear-gradient(top, #30e3cb, #2ce4ab);
  background-image: -ms-linear-gradient(top, #30e3cb, #2ce4ab);
  background-image: -o-linear-gradient(top, #30e3cb, #2ce4ab);
  background-image: linear-gradient(to bottom, #30e3cb, #2ce4ab);
  text-decoration: none;
}

.contact-me .rest {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px;
}

a {
  text-decoration: none;
  margin: 10px;
  color: #11999e;
}

a:hover {
  color: #eaf6f6;
  font-size: 0.75rem
}

.copy-right {
  color: #eaf6f6;
  padding: 10px 0;
}
